body {
  background: black;
  font-family: "Candal", sans-serif;
}

.top{
  font-size:45px;
  color: white;
}

.hi{
  color:white;
}

.thursday{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  color: white;
  font-size: 55px;
  text-align: center;
}

h2 {
  color:white;
  text-align: center;
  font-size:25px;
}

.extra {
  color: white;
  font-size: 30px;
  text-align: right;
	width:800px;
}
.extra-container {
	margin-right: 20px;
	display: flex;
justify-content: flex-end;
}

.place1{
  color:white;
  text-align:left;
}

.place2{
  color:white;
  text-align: left;
}

.place3{
  color:white;
  text-align: left;
}

.place4{
  color:white;
  text-align: left;
}

.extra1, .extra2, .extra3, .extra4, .extra5{
  text-align: right;
  color:white;
  font-size: 20px;
}

.extra1, .extra2, .extra3, .extra4, .extra5{
  text-align: right;
  color:white;
  font-size: 20px;
}
