body {
  background: black;
  font-family: "Candal", sans-serif;
	width:2000px;
}

.top{
  font-size:45px;
  color: white;
}

.hi{
  color:white;
	margin-right: 130px;
	display:flex;
	justify-content: flex-end;
	font-size: 20px;
}

.thursday{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  color: white;
  font-size: 55px;
  text-align: center;
}

h2 {
  color:white;
  text-align: center;
  font-size:30px;
}

.extra {
  color: white;
  font-size: 30px;
  text-align: right;
	width: 900px;
}
.extra-container {
	margin-right: 130px;
	display: flex;
justify-content: flex-end;
}

.place1{
  color:white;
  text-align:left;
}

.place2{
  color:white;
  text-align: left;
}

.place3{
  color:white;
  text-align: left;
}

.place4{
  color:white;
  text-align: left;
}

.extra1, .extra2, .extra3, .extra4, .extra5{
  text-align: right;
  color:white;
  font-size: 20px;
}

.container {
	position: relative;
	text-align: left;
	color: white;
}

.bottom-left{
	position: absolute;
	bottom: 8px;
	left: 16px;
	width: 600px;
}
